extends ../layouts/default

block intro
	.container-fluid.nopadding: .section.section-background-image
		img.siteBanner(src="/images/banner-incont.jpg", alt="Please Refresh")


block content
	.container: .row
		.col-sm-offset-2.col-md-offset-2.col-sm-8.col-md-8
			h1.headerBlog(style='text-align: center; margin-bottom: 10px;') About Us
			.post
				h4: b Spread the love
				p Hello and welcome to the site and the community! We’re a small but growing AB/TB/DL community, lovingly established and maintained mostly by our beloved Lonewolf/Kenna, with the help of several of our most active members. A substantial percentage of our members are AB’s, though we happily welcome TB’s and DL’s as well. We seek to provide a fun, friendly and safe environment for all who visit, and we do our very best to help those who are new to the community and the lifestyle, be it through advice or guidance, or just a place to talk or vent.
				p We feature a steadily growing forum with discussions about the site itself, the community at large, the likes and dislikes of individuals within the community, and several forms of entertainment related topics. We also feature stories, both fictional and biographical. We welcome you to explore our forum, and visit our live chat room. Our members are friendly and loving, and our moderators and administrators are helpful and friendly as well.
				p In addition to the previously mentioned features, we also maintain separate sections for teens, as well as an adults only area. We take the safety of our teen members very seriously, and will always do our very best to see that they are well taken care of while visiting our community. Our moderators enforce a strict set of rules at all times.
				p We’re here to help others outside of the community as well. Often, family members and friends of AB/DL’s come to sites like ours seeking answers to the questions they have about the lifestyle, and we’re more than happy to answer those question to the best of our abilities. If you happen to be one such individual, start with this: What is ABDL. If you have further questions afterward, please visit the live chat at desktop version or mobile version, and we’ll be happy to help.
				p If you have questions, concerns, problems, or suggestions about any part of the site, feel free to contact the site owners by following any of these links: Kenna , Angel , or Raine.
				p Thank you for visiting us, and welcome to the site and the community. We’re elated to have you.
				