//- extends ../layouts/default

block footer
  footer
    .container: .row
		.col-md-5
			p © ABDL Circle | ABDL Chat 2018
		.col-md-5.col-md-offset-2.text-right
			p SimpleShift  from <a href="http://themeshift.com" target="_blank">ThemeShift</a> - Powered by <a href="http://wordpress.org" target="_blank">WordPress</a>
			