extends ../layouts/default

block intro
	.container-fluid.nopadding: .section.section-background-image
		img.siteBanner(src="/images/banner-incont.jpg", alt="Please Refresh")


block content
	.container: .row
		.col-sm-offset-2.col-md-offset-2.col-sm-8.col-md-8
			h1.headerBlog(style='text-align: center; margin-bottom: 10px;') ABDL Links
			.post
				h4: b Spread the love
				p Hello lovelies and cuties here are links to plenty of ABDL websites with their banners. 
				p
					a(href='http://littlejunior.co.uk/'): img(src="https://www.abdlcircle.com/wp-content/uploads/2018/02/Toddler-Junior-Banner.jpg" style="width:100%")
				p
					a(href='https://diaperdrawer.com/'): img(src="https://www.abdlcircle.com/wp-content/uploads/2018/02/7g1gNaPI.jpg" style="width:100%")