extends ../layouts/default

block intro
	.container-fluid.nopadding: .section.section-background-image
		img.siteBanner(src="/images/banner-incont.jpg", alt="Please Refresh")
	//- .container-fluid.nopadding

mixin printUser(post)
	if post.name.last!== undefined
		if post.image !== undefined
			td: img(src="/uploads/files/" + user.image, alt="User Image", style="width: 45px;")
			td
				a(href='/blog/singleuser/' + post._id, style="font-weight:bold")=post.name.first +' '+post.name.last
		else
			td: img(src="/uploads/files/default-user-kenna-site.png", alt="User Image", style="width: 45px;")
			td
				a(href='/blog/singleuser/' + post._id, style="font-weight:bold")=post.name.first +' '+post.name.last
	else
		if post.image !== undefined
			td: img(src="/uploads/files/" + user.image, alt="User Image", style="width: 45px;")
			td
				a(href='/blog/singleuser/' + post._id, style="font-weight:bold")=post.name.first
		else
			td: img(src="/uploads/files/default-user-kenna-site.png", alt="User Image", style="width: 45px;")
			td
				a(href='/blog/singleuser/' + post._id, style="font-weight:bold")=post.name.first
	//- td= post.email


block content
	.container: .row
		.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2 
			if user
				h2.sepratePostHeader Members
				table.table.table-bordered.post.tableStyle
					thead
						tr
							th(style="width: 65px") 
							th Name
					tbody
					each post in data.posts
						tr
						+printUser(post)
			else
				h2.sepratePostHeader You Need to Login First.
