extends ../layouts/default

block intro
	.container-fluid.nopadding: .section.section-background-image
		img.siteBanner(src="/images/banner-incont.jpg", alt="Please Refresh")


block content
	.container: .row
		.col-sm-offset-2.col-md-offset-2.col-sm-8.col-md-8
			h1.headerBlog(style='text-align: center; margin-bottom: 10px;') Rules
			.post
				h4: b Spread the love
				p -No profanity! 
					p Many of us here feel like babies and toddlers, and small children of these ages usually aren’t allowed to use profanity, and most parents do their best not to subject their small children to such words. This forum and the chat are intended to be used by people who feel like babies and small children. Let’s not subject them to unnecessary profanity and lewdness. Use intelligent words instead. Excessive profanity and lewd behavior will result in muting, and repeated offenses will result in removal or ban from the chat and/or forum. All names containing inappropriate words will be removed on sight.
				p -No nudity or pornography!
					p Again, this forum and the chat are intended for adult babies and teen babies, as well as diaper lovers. Posting nudity and pornography is strictly forbidden. This includes posting links to any website that displays such.
				p -No racism!
					p Racism of any kind is also strictly forbidden. It will never be tolerated and will result in immediate removal from the chat and/or forum. This includes the use of racial slurs as well as the posting of links to racist content.
				p -No harassment/sexual harassment!
					p No means no. If someone says they do not wish to PM, drop the subject. Do not repeatedly ask them. Do not ‘spam’ them, or insult them just because they wish to remain outside of PMs. Harassment includes insulting the other members of the chat and/or forum as well. It will not be tolerated. Sexual advances are forbidden outside of PMs or the adult room, and will ONLY be allowed IF both parties are of legal age and are willing. Failure to abide by this rule will not only result in removal from the chat and/or forum, but will also be reported to the proper authorities.
				p -No stalking!
					p “Cyberstalking, simply put, is online stalking. It has been defined as the use of technology, particularly the Internet, to harass someone. Common characteristics include false accusations, monitoring, threats, identity theft, and data destruction or manipulation. Cyberstalking also includes exploitation of minors, be it sexual or otherwise.
					p The harassment can take on many forms, but the common denominator is that it’s unwanted, often obsessive, and usually illegal. Cyberstalkers use email, instant messages, phone calls, and other communication devices to stalk, whether it takes the form of sexual harassment, inappropriate contact, or disruption of your life and your family’s activities.”
					p Stalking will not be tolerated, and similarly to other forms of harassment, will result in bans and reports to authorities.
				p -No threats made to anyone, including death, and no suicidal talk! Take it to ABDL Support!
					p Threatening behavior, toward others or toward yourself, will also not be tolerated. This includes the use of the moniker ‘KYS’. If you feel the need to vent depressive feelings or anger, use the support room. Such behavior will result in removal from all other rooms. Let’s not fill the happy places with negativity.
				p -Do not private message without asking unless stated otherwise!
					p Never PM without first obtaining permission. All you have to do is ask. It’s common courtesy. Unless a user states they are willing to accept PMs from anyone at any time, such as with the phrase “PM open”, always ask first.
				p -Teens are welcome, but are expressly barred from engaging in sexual activity.  This includes any form of sexualized role-playing, and the posting of pornographic content.  We take the safety of our teen members VERY seriously, and our moderators will strictly enforce this rule with vigilance.  NO ONE is allowed to engage in sexual activity of any kind with our teen members, including other teens.  If we become aware of any such behavior, or are alerted to it, the perpetrator(s) will be instantly and permanently banned.  Failure to abide by this rule will also result in reports to the proper authorities, and those caught engaging in sexual activity with minors are subject to investigation and legal actions.
				p Feel free to direct any questions or concerns to Lonewolf, Angel, Kenna, Raine or any of the moderators. Feel free to email one of the owners.
				p Must worship Alyssa as a Goddess now with her new able to edit pages powers