#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-background-image {
	background-image: url("../../images/ABDLcirclebanner.jpg");
	background-size: cover;
	height: 420px;
}

.nopadding {
	padding: 0px !important;
}
.container-background-image {
	background-image: url("../../images/ABDLcirclebanner.jpg");
	background-size: cover;
	height: 420px;
	// background-size: 100% 100%;
}
.removeHeaderStyle {
	margin-top: 0px !important;
}
.removeNavbarPadding {
	margin-bottom: 0px !important;
	background: #a389d2;
	border-color: #000000;
	// color: #E6E6FA;
}
body.custom-background {
    background-image: url("../../images/bg3-resize.jpg");
    background-position: center center;
    background-size: auto;
    background-repeat: repeat;
	background-attachment: scroll;
}

.post {
    background: #7552bd;
    border-bottom: 1px solid #52368d;
    border-left: 1px solid #52368d;
    border-right: 1px solid #52368d;
    border-top: 1px solid #52368d;
	padding: 30px;
    margin-bottom: 30px;
}

a {
    color: #DDA0DD;
}
a:hover {
    color: rgb(240, 136, 240);
}
body {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #E6E6FA;
    line-height: 1.6;
    text-transform: none;
    background-color: #7552BD;
}

footer {
    background: #6B37C1;
    padding: 40px 0 20px;
}
.lead.text-muted {
	color: #E6E6FA;
	font-size: 16px;
}
.lead.text-muted a{
    font-size: 14px;
}
h2 {
	font-size: 25px;
}
.navbar-default .navbar-nav>li>a {
    color: #E6E6FA;
}
.navbar-brand {
    color: #E6E6FA !important; 
}